.detail-footer{
  position: fixed;
  bottom: 0;
  margin-top: .266666666rem;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.detail-footer .btn{
  width: 10rem ;
  padding: .425rem 3.85rem;
  color: #FEFEFE;
  outline: none;
  border: none;
  font-size: .425rem;
  background-color: #F80830;
}
/*
.detail-footer .foot .foot-t  {
  display: inline-block;
  width: 1.666666rem;
  padding: .209rem 0;
  border-right: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
}
.detail-footer .foot a:nth-child(3){
  border: none;
}
.detail-footer .btn{
  display: inline-block;
  vertical-align: middle;
  width: 4.6rem;
  text-align: center;
}
.detail-footer .btn button{
  padding: .2rem;
  background-image: linear-gradient(to right, #51A8F0, #2068E1);
  outline: none;
  border: none;
  color: #fff;
  font-size: .32rem;
  border-radius: .5rem;
}
*/
