.after-service-protocol{
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  background-color: #fff;
}
.service-protocol{
  font-size: 0.325rem;
  color: #AEAEAE;
}
.ser-pre{
  padding: .35rem 0;
  white-space: pre-line;
}

