#footer .foot{
    position: fixed;
    bottom: 0;
    display: flex;
    padding: .194rem;
    border-top:1px solid #eee;
    text-align: center;
    background-color: #fff;
    justify-content:space-around;
}
