.content .hot-goods h2{
    padding: .22rem;
    font-size: .566666666666rem;
}
.content .hot-goods .hot-title{
    display: inline-block;
    color: #999;
    padding-left: .1rem;
    border-left: .053333333333rem solid #999;
    font-size: .4rem;
}
.hot-goods .recom-mend{
    margin-left: .18rem;
}

.recom-mend .banner2 a{
    display: block;
    position: relative;
    width: 3.1rem;
    margin: .1rem 0;
    background-color: #FAF6F3;
    text-align: center;
}
.recom-mend .banner2 a h3{
    padding-right:.42666666666666rem;
    padding-left: .42666666666666rem;
    padding-top: .373333333333rem;
    font-size: .373333333333rem;
    font-weight: 400;
    vertical-align: bottom;
    color: #3a3a3a;
}
.recom-mend .banner2 a p{
    height: .64rem;
    font-size: .32rem;
    line-height: .64rem;
    color: #ccc;
}
.recom-mend .banner2 a span{
    font-size: .373333333333rem;
    font-weight: 400;
    line-height: .746666666666rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cc0e11;
}
.content .love, .content .love img{
    width: 10rem;
    height: 2.255733333333rem;
}
.content .goods-title{
    text-align: center;
    padding:.4rem;
}
.content .goods-title p{
    color: #ccc;
    font-weight:normal;
    font-size: 15px;
}
.snack-goods{
    background: url(../../images/product.png) top/contain no-repeat;
}
.clbg{
    background: none;
}
.snack-goods ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.snack-goods ul li{
    position: relative;
    width: 2.941111111111111111rem;
    margin: .07rem;
    border: .01666666666rem solid #eee;
    flex:1 auto;
}
.snack-goods ul li img{
    width: 3.1rem;
    height: 2.8rem;
}
.snack-goods ul li p{
    padding: .13333333333rem;
    font-size: 0.325rem;
}
.snack-goods ul li p:nth-child(3){
    color:red;
    padding:.266666666666rem 0;
}
.snack-goods ul li p:nth-child(3) span{
    display: inline-block;
    padding: 0 .0533333333333rem;
    margin-left: .2rem;
    border: .01666666666rem solid red;
    border-radius: .13333333333rem;

}
