/*ul li{
  padding: .2rem 0;
}
ul li .c-text,img{
  display: inline-block;
  vertical-align: middle;
}
ul li .c-text{
  width: 6.5rem;
  font-size: 0.34rem;
  padding: .3rem.4rem;
  color: #333;
  border-bottom: .025rem solid #eee;
}
ul li .c-text p{
  padding: .3rem 0;
  font-size: 0.45rem;
  color: #ff0000;
}
ul li .c-text p i{
	font-style: normal;
	font-size: .2rem;
	border: 0.025rem solid #ff0000;
  	border-radius: .1rem;
}*/


