ul li .c-text{
  width: 2.88rem;
  font-size: 0.34rem;
  padding: .3rem.4rem;
  color: #333;
  border-bottom: .025rem solid #eee;
}
ul li .c-text h3{
  font-size: 13px;
}

ul li{
  position: relative;
  width: 4.45rem;
  margin: .3rem 0;
  border: 1px solid #EDEDED;
  flex: 0 1 auto;
}
