/* 头部 */
#home-h{
    position: absolute;
    z-index: 999;
    width: 10rem;
    }
.head-top .category,.head-top .msg{
    margin-left: .22rem;
    font-size: .37333333333333rem;
    line-height: .933333333333rem;
}
.head-top .msg{
    margin-right: .22rem;
}
#home-h .search{
    position: relative;
    display: block;
    width: 6.7rem;
    margin: .1333333333333rem auto;
    padding: 0 0 0 .8rem;
    background-color: #eee;
    font-size: .37333333333333rem;
    line-height:.933333333333rem;
    text-align: center;
    border-radius: 50px;
}
#home-h .search:after{
    content: "";
    position: absolute;
    left: 2rem;
    width: .8rem;
    height:.933333333333rem;
    background: url(../images/search.png) center/.4rem .4266666667rem no-repeat;
}